[submodule "qrcodejs"]
	path = qrcodejs
	url = https://github.com/davidshimjs/qrcodejs
[submodule "highlight.js"]
	path = highlight.js
	url = https://github.com/highlightjs/highlight.js
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
	branch = dev
[submodule "reveal.js-plugins"]
	path = reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins
